.register{
    position: relative;
    top: 200px;
}

.forms{
    width: 32%;
    margin: auto;
    margin-bottom: 50px;
    padding-left: 20px;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;  
    margin-top: 50px;

    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    
}

.forms h2{
    font-weight: bold;
    margin-bottom: 20px;
}

.form-input input{
    width: 98%;
    margin-bottom: 20px;
  
}

.register-btn{
    text-align: center;
    margin-top: 20px;
}

button{
    padding: 3px 5px;
    margin-right: 50px;
}
