.cont1{
    width: 100%;
    margin-bottom: 100px;
}

.course-find h4, h2{
    text-align: center;
   
}

.course-find{
  margin-left: 20px;
  margin-right: 20px;
}


.course-find h2{
    font-weight: bold;
    color: rgb(243, 166, 0);
}


.course-find h4{
    font-size: 28px;
}

.course-find h4{
    margin-bottom: 50px;
    font-size: 2rem;
}

.explore-Courses{
    width: 90%;
    margin: auto;
  

}

.explore{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    flex-wrap: wrap;
   
}

.boxes{
    /* width: 45%; */
    max-width: 500px;
    height: 250px;
    margin: 20px;
    display: flex;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    
}

.course-img{
    width: 50%;
    height: 100%;
  
}

.main-content{
    width: 50%;
    background-color: rgb(243, 166, 0);
    padding-top: 20px;
    text-align: left;
    padding-left: 10px;
    padding-bottom: 10px;
    padding-right: 10px;
}

.main-content h4{
    font-size: 16px;
    font-weight: bold;
}

.main-content p{
    color: #fff;
    font-size: 13px;
    font-family: 'Roboto'
}

.boxes img{
    width: 100%;
    height: 100%;
}


.prices{
    display: flex;
    align-items: center;
    justify-content: space-between;
    font-size: 15px;
    margin-bottom: 20px;
   
}

.prices h4{
    font-size: 15px;
}

.prices p{
    color: black;

}

/* .buttonbtn{
    margin-left: 50px;
    margin-top: 20px;
    padding: 5px 10px;
    color: white;
    background-color: black;
} */



.button-20 {
    width: 100%;
    
    appearance: button;
    background-color: #000;
    background-image: none;
    border: 1px solid #000;
    border-radius: 4px;
    box-shadow: #fff 4px 4px 0 0,#000 4px 4px 0 1px;
    box-sizing: border-box;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    font-family: ITCAvantGardeStd-Bk,Arial,sans-serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 20px;
    margin: 0 5px 10px 0;
    overflow: visible;
    padding: 12px 40px;
    text-align: center;
    text-transform: none;
    touch-action: manipulation;
    user-select: none;
    -webkit-user-select: none;
    vertical-align: middle;
    white-space: nowrap;
    margin: auto;
  }
  
  .button-20:focus {
    text-decoration: none;
  }
  
  .button-20:hover {
    text-decoration: none;
  }
  
  .button-20:active {
    box-shadow: rgba(0, 0, 0, .125) 0 3px 5px inset;
    outline: 0;
  }
  
  .button-20:not([disabled]):active {
    box-shadow: #fff 2px 2px 0 0, #000 2px 2px 0 1px;
    transform: translate(2px, 2px);
  }
  
  @media (min-width: 768px) {
    .button-20 {
      padding: 12px 50px;
    }
  }


  @media (max-width: 900px){
  .boxes{
    width: 60%;
  }
}

  @media (max-width: 700px){
  .boxes{
    width: 70%;
  }
}

  @media (max-width: 572px){
  .boxes{
    width: 80%;
  }
}

  @media (max-width: 486px){
   .boxes{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    height: 400px;
    width: 70%;
   }

   .course-img{
           width: 100%;
           height: 45%;
   }

   .main-content{
         width: 100%;
         height: 55%;
   }
}

  @media (max-width: 486px){
   .boxes{
    height: 450px;
    width: 80%;
   }

   .course-img{
           width: 100%;
           height: 45%;
   }

   .main-content{
         width: 100%;
         height: 55%;
   }
}

