
.aacord{
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}

.chapterName{
    color: rgb(0, 0, 0);
    font-family: "Source Sans Pro", Arial, sans-serif;
    /* background-color: red; */
    font-size: 0.9em;
    width: "100%";
    /* width: 100%; */
    
}

.list li{
    font-size: 0.9em;
    /* font-family: "Source Sans Pro", Arial, sans-serif;  */
    font-family: 'roboto';
}

@media (max-width: 500px) {
    
    .aacord{
        width: 92%;
        margin-left: 20px;
        margin-right: 0px;
    }
  }

@media (max-width: 400px) {
    
    .aacord{
        width: 93%;
        margin-left: 10px;
        margin-right: 10px;
    }
  }