
.bar{
    margin-top: 100px;
   
}

.bar-div{
    /* height: 100px; */
  
    display: flex;
    align-items: center;
    justify-content: space-around   ;
    width: 60%;
    margin: auto;
}

.bar-div div{
    padding-top: 15px;
    padding-bottom: 15px;
    width: 30%;
    height: 100%;
    text-align: center;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

@media (max-width: 700px) {
    .bar-div{
      width: 80%;
    }

  }

@media (max-width: 500px) {
    .bar-div{
      width: 90%;
    }

  }

@media (max-width: 400px) {
    .bar-div{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
    }

    .bar-div div{
        width: 100%;
        margin-bottom: 30px;
    }

  }

