.sec-Course {
  display: flex;
  width: 100%;
  
}

.box2 {
  width: 40%;
  text-align: center;
}

.box3 {
  width: 50%;
}

.box3 iframe {
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  
}

.box07 {
  display: none;
}

@media (max-width: 1300px){
  .box3 iframe {
    height: 320px;
    
  }

  .box2 {
    width: 45%;
    text-align: left;
  }
  
  .box3 {
    width: 50%;
  }
  
}

@media (max-width: 1026px) {

  .sec-Course {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: -50px;
  }

  .box07 {
    display: block;
    width: 80%;
    margin-top: 50px;
    text-align: center;
  }

  .box2 {
    display: none;

  }

  .box3{
    width: 80%;
  }

  .box3 iframe{
    height: 380px;
  }
}

@media (max-width: 700px) {

  .sec-Course{
    margin-top: -50px;
  }


  .box3 iframe{
    height: 300px;
  }
}

@media (max-width: 536px) {

  .sec-Course{
    margin-top: -50px;
  }

  .box3{
    width: 90%;
  }

  .box3 iframe{
    height: 240px;
  }

  
  .box07 {
    display: block;
    width: 90%;
    margin-top: 50px;
    text-align: left;
  }
}

@media (max-width: 390px) {

  .box3{
    width: 90%;
  }


  .box3 iframe{
    height: 180px;
  }

  
  .box07 {
    display: block;
    width: 90%;
    margin-top: 50px;
    text-align: left;
  }
}
