.sec-Course{
    display: flex;
    width: 100%;
}



.box2{
    width: 50%;    
}

.box3{
    width: 45%;
  
  
}

.box3 iframe{
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
}

.box07{
    display: none;
}