.faqs{
    /* border: 1px solid black; */
    width: 100%;
    margin-top: 100px;
    padding-right: 50px;
    margin-bottom: 100px;
}

.faqs h2{
    text-align: left;
    color: black;
    margin-bottom: 50px;
    margin-left: 50px;
}

.qusetion{
    width: 80%;
    margin-left: 50px;
    margin-right: 50px;
}