.down{
    margin-top: 100px;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

.footer{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.left-box {
    padding-top: 20px;
}

.left-box img{
   width: 100px;
}

.left-box  h3{
    font-weight: bold;
    font-size: 25px;
}

.left-box  h4{
    font-size: 18px;
    margin-top: 20px;
}


.middle-left h3{
    font-weight: bold;
    font-size: 25px;
}

.middle-left p{
    cursor: pointer;
}

.middle-left p:hover{
    color: red;
}

.right {
    height: 320px;
}

.right img{
     width: 30px;
     margin-right: 30px;
}

.para2{
    text-align: center;
    font-size: 13px;
}

.down hr{
    width: 85%;
    margin: auto;
    margin-bottom: 20px;
    margin-top: 50px;
}

@media (max-width: 700px){
    
    .footer{
        display: flex;
        flex-direction: column;
        align-items:flex-start;
        justify-content: flex-start;
        padding-left: 30px;
        height: 900px;
    }

    .middle-left{
        margin-top: 50px;
    }

    .right{
        margin-top: 50px;
    }

    .down hr{
        margin-top: 50px;
    }

    
}

@media (max-width: 700px){
    .para2{
         font-size: 11px;
    }
}

@media (max-width: 400px){
    .para2{
         font-size: 10px;
    }
}

@media (max-width: 300px){
   .footer{
    padding-right: 10px;
   }
}