.home{
    /* border: 2px solid blue; */
  height: 700px;
    margin-bottom: 80px;
    background: url('../assets/Images/ba.jpg') no-repeat  center;
}

.carousel  {
    width: 70%;
    height: 60%;
    /* display: none; */
    position: absolute;
    top: 140px;
    margin: auto;

}

.carousel-inner{
    height: 100%;
}


.carousel-item {
    height: 100%;
}

.carousel-item img{
    height: 100%;
}


