
.readmore{
  width: 100px;
  margin-left: 0px;
  margin-top: -20px;
  padding: 5px 0  ;
  border: 0;
  background-color: white;
  color: rgb(243, 166, 0);
}

.readmore:hover{
  color: black;
}

.card{
  padding: 10px;
  width: 80%;
  margin-left: 50px;
  margin-right: 50px;
}

.card h2{
  padding-left: 15px;
  padding-top: 20px;
  margin-bottom: 20px;
}


@media (max-width: 500px) {
    
  .card{
    width: 92%;
    margin-left: 20px;
    margin-right: 0px;
  }
}

@media (max-width: 400px) {
  
  .card{
    width: 93%;
    margin-left: 10px;
    margin-right: 10px;
  }
}