.sides{
    width: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 50px;
    position: fixed;
    top: 0px;  
    z-index: 2;
}

.sides div{
    height: 100%;
    padding-top: 10px;
    text-align: center;
}


.sides div a{
    margin-bottom: 50px;
    width: 100%;
   
}

.insta{
    margin-left: 200px;
    margin-right: 200px;
}


.sides div a img{
    width: 25px;
}

@media (max-width: 1026px){
    .sides div{
        text-align: left;
        padding-left: 20px;
    }

    .insta{
        margin-left: 100px;
        margin-right: 100px;
    }
}

@media (max-width: 438px){

    .insta{
        margin-left: 50px;
        margin-right: 50px;
    }
}

@media (max-width: 438px){
    .insta{
        margin-left: 20px;
        margin-right: 20px;
    }
}