.sides{
    width: 100%;
    background-color: white;
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
    height: 50px;
    position: fixed;
    top: 0px;  
    z-index: 2; 
   
}

.zoom-div{
    display: flex;
    width: 80%;
    height: 100%;
    margin: auto;
}

.zoom-in-zoom-out{
    width: 30%;
    /* border: 2px solid black; */
    text-align: center;
    margin-top: 10px;
    animation: zoom-in-zoom-out 2s ease-out infinite;
}
  
  @keyframes zoom-in-zoom-out {
    0% {
      transform: scale(0.5, 0.5);
    }
    50% {
      transform: scale(1, 1);
    }
    100% {
      transform: scale(0.5, 0.5);
    }
  }


.sides div a{
    margin-bottom: 50px;
    width: 100%;
   
}


.sides div a img{
    width: 25px;
}

@media (max-width: 1026px){

    .zoom-div{
        width: 60%;
        /* margin-left: -150px; */margin-left: 0;
    }

    .zoom-in-zoom-out{
        width: 25%;
        text-align: left;
    }


    .sides div{
        text-align: left;
        padding-left: 20px;
    }

    
}

@media (max-width: 376px){

    .zoom-in-zoom-out{
       width: 33%;
    }
}

/* @media (max-width: 438px){
    .insta{
        margin-left: 20px;
        margin-right: 20px;
    }
} */