.slides{
    display: flex;
    align-items: center;
    justify-content: center;
    width: 60%;
    margin: auto;
    height: 80px;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    
}

.box{
    width: 33.3%;
    height: 100%;
    background-color: rgb(243, 166, 0);
    text-align: center;
    box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    display: flex;
    align-items: center;
    justify-content: center;
}
 .box:hover{
    transform: scale(1.2);
}

.box p{
    font-size: 3rem;
    color: white;
    margin-right: 20px;
}

.box  h3{
    font-size: 1.5rem;
}

@media (max-width: 820px){
    .slides{
     display: none;
    }
 }