.upperboard{
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 100%;
    flex-wrap: wrap;
    margin-top: 50px;
}

.boxed{
    width: 300px;
    height: 250px;
    margin: 20px 0;
    display: flex;
    flex-direction: column; 
    padding: 20px;   
}

#boxed{
    background-image: linear-gradient(to right, #c6ffdd, #fbd786, #f7797d);
}

#boxed2{
    background-image: linear-gradient(to right, #00b09b, #96c93d);
}

#boxed3{
    background-image: linear-gradient(to right, rgb(242, 112, 156), rgb(255, 148, 114));
}


